@media screen and (max-width: 540px) {

    body {

        p {
            font-size: .8rem;
        }
    }
    
    .main-title {

        h2 {
            font-size: 1.8rem !important;

            span {
                font-size: 1.8rem !important;
            }

            .bg-text {
                font-size: 2rem !important;
            }
        }
    }

    .portfolio-container {
        grid-template-columns: 1fr !important;

        .portfolio-item {

            img {
                height: 250px;
            }
        }
    }

    .contact-content-container {
        flex-direction: column;

        .right-contact {
            margin-left: 0;
            margin-top: 2.5rem;

            .input-control-2 {
                flex-direction: column;

                & :last-child {
                    margin-left: 0;
                    margin-top: 1.5rem;
                }
            }
        }

        .left-contact {

            h4 {
                font-size: 1.8rem;
            }

            .icon {
                font-size: .7rem;
            }

            i {
                font: .7rem;
            }
        }

        p {
            font-size: .7rem !important;
        }
    }
}

// For Screen sizes 600px and smaller
@media screen and (max-width: 600px) {
    header {
        padding: 0;

        .right-header {
            padding: 0 !important;
        }
    }

    .main-title {
        h2 {
            font-size: 2rem;

            span {
                font-size: 2.5rem;
            }
            .bg-text {
                font-size: 3rem;
            }
        }
    }

    .theme-btn {
        width: 50px;
        height: 50px;
    }

   

    // About Section

    .about-container {
        grid-template-columns: 1fr;
        
        .right-about {
            padding-top: 2.5rem;
            grid-template-columns: 1fr;
        }
        
        .left-about {
            padding: 0;

            p {
                padding-left: 0;
            }
        }
    }

    .timeline {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .about-stats {
        .progress-bars {
            grid-template-columns: 1fr;
        }
    }

    .portfolio-container {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .blog-item-container {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .section {
        padding: 2rem 2.5rem !important;
    }

    .controls {
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);

        .control {
            margin: 1rem .3rem;
        }
    }
}

// For screens 970px and smaller
@media screen and (max-width: 1070px){
    .section {
        padding: 7rem 6rem;
    }

     // Header Content
     .header-content {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .left-header {
        .header-shape {
            display: none;
        }
    }

    .right-header {
        grid-row: 1;
        width: 90%;
        margin: 0 auto;

        .name {
            font-size: 2.5rem !important;
        }
    }

    .header-content {
        .left-header {
            .image {
                margin: 0 auto;
                width: 90%;
            }
        }
    }
}

// For screens 1070px and smaller
@media screen and (max-width: 1070px){
    .about-container {
        grid-template-columns: 1fr;

        .right-about {
            padding-top: 2rem;
        }
    }

    .main-title {

        h2 {
           font-size: 4rem; 

           span {
               font-size: 4rem;
           }

           .bg-text {
               font-size: 4.5rem;
           }
        }
    }

    .portfolio-container {
        grid-template-columns: repeat(1fr);
    }

    .blog-item-container{
        grid-template-columns: 1fr;
    }
}

// For screens 1432px and smaller
@media screen and (max-width: 1600px){
    header {
        padding: 0 !important;
    }

    .section {
        padding: 7rem 11rem;
    }
    
}

// For screens 1940px and smaller
@media screen and (max-width: 1940px) {

    .contact-content-container {
        flex-direction: column;

        .right-contact {
            margin-left: 0;
            margin-top: 2.5rem;

            .input-control-2 {
                flex-direction: column;

                & :last-child {
                    margin-left: 0;
                    margin-top: 1.5rem;
                }
            }
        }

        p {
            font-size: .9rem;
        }
    }
}